.container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#filtrador-tabla {
    width: 50%;
}

@media (max-width: 781px) {
    #filtrador-tabla {
        width: 80%;
    }
}