.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

p.typewriter {
  border-right: solid 3px rgba(0, 14, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.7);
}

/* Animation */
p.typewriter {
  animation: animated-text 2s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 260px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 7, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
